.to{
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
}

.to .so1{
    width: 20%;
}

.to .so2{
    width: 30%;
    display: flex;
}

.to .so2 .so2-1{
    width: 33.33%;
}

.to .so3{
    width: 30%;
}